.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dark {
  background: #0a0a0a url('https://www.transparenttextures.com/patterns/dark-mosaic.png');

  color: #ffffff;
}

main {
  flex: 1;
}


